<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cn</key>
	<dict>
		<key>ALICLOUD_HTTPDNS_SERVICE_HOST_V4_KEY</key>
		<array>
			<string>203.107.1.1</string>
			<string>203.107.1.97</string>
			<string>203.107.1.100</string>
			<string>203.119.238.240</string>
			<string>106.11.25.239</string>
			<string>59.82.99.47</string>
		</array>
		<key>ALICLOUD_HTTPDNS_UPDATE_HOST_V4_KEY</key>
		<array/>
		<key>ALICLOUD_HTTPDNS_SERVICE_HOST_V6_KEY</key>
		<array>
			<string>2401:b180:7001::31d</string>
			<string>2401:b180:2000:30::1c</string>
			<string>2401:b180:2000:20::10</string>
			<string>2401:b180:2000:30::1c</string>
		</array>
		<key>ALICLOUD_HTTPDNS_UPDATE_HOST_V6_KEY</key>
		<array/>
	</dict>
	<key>hk</key>
	<dict>
		<key>ALICLOUD_HTTPDNS_SERVICE_HOST_V4_KEY</key>
		<array>
			<string>47.56.234.194</string>
			<string>47.56.119.115</string>
		</array>
		<key>ALICLOUD_HTTPDNS_UPDATE_HOST_V4_KEY</key>
		<array/>
		<key>ALICLOUD_HTTPDNS_SERVICE_HOST_V6_KEY</key>
		<array>
			<string>240b:4000:f10::178</string>
			<string>240b:4000:f10::188</string>
		</array>
		<key>ALICLOUD_HTTPDNS_UPDATE_HOST_V6_KEY</key>
		<array/>
	</dict>
	<key>sg</key>
	<dict>
		<key>ALICLOUD_HTTPDNS_SERVICE_HOST_V4_KEY</key>
		<array>
			<string>161.117.200.122</string>
			<string>47.74.222.190</string>
		</array>
		<key>ALICLOUD_HTTPDNS_UPDATE_HOST_V4_KEY</key>
		<array/>
		<key>ALICLOUD_HTTPDNS_SERVICE_HOST_V6_KEY</key>
		<array>
			<string>240b:4000:f10::178</string>
			<string>240b:4000:f10::188</string>
		</array>
		<key>ALICLOUD_HTTPDNS_UPDATE_HOST_V6_KEY</key>
		<array/>
	</dict>
	<key>de</key>
	<dict>
		<key>ALICLOUD_HTTPDNS_SERVICE_HOST_V4_KEY</key>
		<array>
			<string>47.89.80.182</string>
			<string>47.246.146.77</string>
		</array>
		<key>ALICLOUD_HTTPDNS_UPDATE_HOST_V4_KEY</key>
		<array/>
		<key>ALICLOUD_HTTPDNS_SERVICE_HOST_V6_KEY</key>
		<array>
			<string>2404:2280:3000::176</string>
			<string>2404:2280:3000::188</string>
		</array>
		<key>ALICLOUD_HTTPDNS_UPDATE_HOST_V6_KEY</key>
		<array/>
	</dict>
	<key>us</key>
	<dict>
		<key>ALICLOUD_HTTPDNS_SERVICE_HOST_V4_KEY</key>
		<array>
			<string>47.246.131.175</string>
			<string>47.246.131.141</string>
		</array>
		<key>ALICLOUD_HTTPDNS_UPDATE_HOST_V4_KEY</key>
		<array/>
		<key>ALICLOUD_HTTPDNS_SERVICE_HOST_V6_KEY</key>
		<array>
			<string>2404:2280:4000::2bb</string>
			<string>2404:2280:4000::23e</string>
		</array>
		<key>ALICLOUD_HTTPDNS_UPDATE_HOST_V6_KEY</key>
		<array/>
	</dict>
</dict>
</plist>
